CSV File Chat.json
{
  "name": "CSV File Chat",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e656f322-58d4-4547-aa37-af9c087af934",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1DCOd0R66AadMBF4eHlhNeFAqeYEM9ZFy",
            "mode": "list",
            "cachedResultName": "Excel Chat RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1DCOd0R66AadMBF4eHlhNeFAqeYEM9ZFy"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "5186d5d9-772e-4991-a384-03d9157c514e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KiNCxF2rirM5QBAn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        384,
        0
      ],
      "id": "d076e948-8a6e-4de8-a74b-fd18f7e46497",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "KiNCxF2rirM5QBAn",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.name }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "85836787-125e-4ffe-b96b-3aeac713eda4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CSV"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        592,
        0
      ],
      "id": "46355c5c-5146-42dc-8ae5-36fa47c4b68e",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "3d87e2e6-b005-48dc-af9e-f8242d5736a6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "allFieldsExcept",
        "fieldsToExclude": "row_number",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "e7ce602c-560a-4cba-8dcb-74cdd1a1c1e7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1184,
        0
      ],
      "id": "86edd901-022c-4bd1-b5d1-627347761464",
      "name": "Summarize"
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1536,
        160
      ],
      "id": "a1e9e1ad-8ffe-438c-832a-f608d6054615",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        -320
      ],
      "id": "a04950fd-b7ff-4fa8-80a0-2fcf3647bd8e",
      "name": "When chat message received",
      "webhookId": "d6788c0e-7238-4c3b-8e9d-cf9645744257"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant who is spposed to answer the user's queries from the knowledge and if you do not know the answer, yo can search the web and get an answer with the citations"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        -320
      ],
      "id": "fa5bbb46-6fc8-47f5-95ea-269c45495348",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## CSV File Chat\n**Supabase** - Vector Store to edit me.\n**Cohere** - Embeddings Model \n[Github] (https://github.com/anujseshan4)",
        "height": 416,
        "width": 960
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        -448
      ],
      "typeVersion": 1,
      "id": "ad6ab332-bd51-4721-8fd5-9f975ac42bc0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "chunkOverlap": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1632,
        288
      ],
      "id": "7791b23e-50fb-452a-bd0b-a6895c0e1772",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "You are a helpful and funny assistant who is supposed to know about the Australian Train and Metro Lines. You can see the web for your reference.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        432,
        -176
      ],
      "id": "1f55639f-097c-419b-8f35-48759388acc1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "netp9F7x5l730LWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1392,
        0
      ],
      "id": "8ce29d12-f2da-4f9a-b0a8-3b46e499f998",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "netp9F7x5l730LWZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v2.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        1328,
        192
      ],
      "id": "93a91635-ab5c-4ca6-b2e8-67652b9e978b",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "JUt3GXnVa6nprPui",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        288,
        -160
      ],
      "id": "ad62fd78-335f-4bb8-9487-92455381b2c7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {
          "search_depth": "basic",
          "include_answer": "basic"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        704,
        -176
      ],
      "id": "1f4a85bb-c428-4320-a14e-40d18042546e",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "PorYQEKmhRH8F0f1",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        -176
      ],
      "id": "ccc0b2c0-f27f-465b-b3ff-8286a23d0198",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mEXUMpTKuHk7ZWtr",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ca25fa3-ebf6-4e5c-b0a7-aaccf1fd54b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "39333bdab4c814f8e07e09b87f3f454b48a529643a277bf68d3e669d6bd1d8fb"
  },
  "id": "Dgh5qjoQFRbHZvvR",
  "tags": []
}